.loader-line--invert {
  height: 6px;
  animation: loop 3s infinite;
}

@keyframes loop {
    0% {
      width: 0%;
      transform: translateX(0%);
    }
    30% {
      width: 35%;
      transform: translateX(0%);
    }
    40% {
      width: 30%;
    }
    50% {
      transform: translateX(50%);
    }
    
    75% {
      width: 130%;
    }
    100% {
      transform: translateX(130%);
    }
  }