.banner {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../../public/images/banner.jpg") center;
  background-size: cover;
}

.banner .banner-content .tag-line {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .banner-content .tag-line h2 {
  font-weight: 700;
}

.banner .banner-content .tag-line p {
  color: #a9a9a9;
}
